.sidebar-containers {
  position: sticky;
   top: 100px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 15px;
  // margin:10px 10px ;
  // padding-left: 15px;
  // border: 1px #808080 solid;
  transition: all 0.3s ease;
  background-color: #282a37;
  filter: drop-shadow(5px 5px 10px black);

  .sidebar-content-containers {
    margin-top: 20px;
  }
  .bg-blue {
    background-color: #1d90f4;
    // filter: drop-shadow(2px 2px 5px black);
  }

  .onSideBarOpen {
    justify-content: center;
  }
  .sidebar-content {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 10px;

    p {
      margin-left: 20px;
    }
    &:hover {
      // background-color: #eceef1;
      background-color: #1d90f4;
      cursor: pointer;
    }
  }
}