.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 10px;
    height: auto;
    width: 100%;
    background-color: #282a37;
    border-radius: 15px;
    padding-top: 10px; 
    
}