.searchbar {
  display: flex;
  flex-direction: row;
  //   padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;

  .search {
    margin-right: 10px;
    border-right: 1px solid black;
    padding: 10px;
    padding-right: 20px;
    padding-top: 12px;
    padding-left: 15px;
  }

  input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px;
  }
}

.button-section {
  display: flex;
  justify-content: end;

  button {
    outline: none;
    border: none;
    color: whitesmoke;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(35, 34, 34);
    }
  }
}
