.chat-input {
  .add-comment {
    display: flex;
    flex-direction: row;
    background-color: #525461;
    border-radius: 10px;
    input {
      flex-grow: 1;
      background-color: transparent;
      outline: 0;
      border: 0;
      padding: 10px;
      border-right: 1px solid gray;
      color: white;
    }
    button {
      background-color: transparent;
      outline: 0;
      border: 0;
      padding: 10px;

      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
  }
}
