.homepage {
  // background-color: hsl(210, 3%, 15%);
  // background-color: #282a37;
  background-color: #525461;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  max-width: 100vw;
  width: 100vw;

  .app-section {
    padding-top: 20px;
    padding-right: 10px;
  }

  .sidebar {
    transition: all 0.3s ease;
  }
}
